{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
    <h1 class="text-uppercase">Edit Category</h1>

	<a class="btn btn-outline-light text-uppercase mb-2" href="{{ path('app_backoffice_category_index') }}">back to list</a>

	{{ include('backoffice/category/_form.html.twig', {'button_label': 'Update'}) }}

	{{ include('backoffice/category/_delete_form.html.twig') }}
{% endblock %}
