{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <h1 class="text-uppercase">Create new Category</h1>
	
    <a class="btn btn-outline-light text-uppercase" href="{{ path('app_backoffice_category_index') }}">back to list</a>

	{{ include('backoffice/category/_form.html.twig') }}
{% endblock %}
